In [2]:
import pandas as pd

In [12]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

In [4]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
# Check data types
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [6]:
# Check data shape
df.shape

(100, 18)

In [7]:
df['tpep_pickup_datetime']

0     2021-01-01 00:30:10
1     2021-01-01 00:51:20
2     2021-01-01 00:43:30
3     2021-01-01 00:15:48
4     2021-01-01 00:31:49
             ...
95    2021-01-01 00:12:41
96    2021-01-01 00:23:29
97    2021-01-01 00:46:17
98    2021-01-01 00:28:16
99    2021-01-01 00:42:35
Name: tpep_pickup_datetime, Length: 100, dtype: object

In [8]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [9]:
!uv add sqlalchemy psycopg2-binary

Resolved 120 packages in 0.65ms
Audited 12 packages in 0.20ms

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df_iter = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000,
)

In [18]:
df = next(df_iter)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [20]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text("TRUNCATE TABLE yellow_taxi_data"))
    conn.commit()

print("Table truncated!")

Table truncated!

In [21]:
!uv add tqdm

Resolved 120 packages in 0.67ms
Audited 12 packages in 4ms

In [22]:
from tqdm.auto import tqdm

In [23]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2026-01-20 20:05:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-20T21%3A00%3A33Z&rscd=attachment%3B+filename%3Dyellow_tripdata_2021-01.csv.gz&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-20T20%3A00%3A31Z&ske=2026-01-20T21%3A00%3A33Z&sks=b&skv=2018-11-09&sig=x2EdMMF1TCGiCWX8v4QBj8E85aB0bl3qzBQu4BhEPzk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODk0MTMyNiwibmJmIjoxNzY4OTM5NTI2LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.wNBL-Hgbdw2nCpk5JiEb1eYo3m3SH5t6hAmJ6C2fma8&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2026-01-20 20:05:26--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-20T21%3A00%3A33Z&rscd=attachment%3B+filename%3Dyellow_tripdata_2021-01.csv.gz&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-20T20%3A00%3A31Z&ske=2026-01-20T21%3A00%3A33Z&sks=b&skv=2018-11-09&sig=x2EdMMF1TCGiCWX8v4QBj8E85aB0bl3qzBQu4BhEPzk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODk0MTMyNiwibmJmIjoxNzY4OTM5NTI2LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.wNBL-Hgbdw2nCpk5JiEb1eYo3m3SH5t6hAmJ6C2fma8&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz.1’

yellow_tripdata_202 100%[===================>]  23.87M  42.9MB/s    in 0.6s

2026-01-20 20:05:27 (42.9 MB/s) - ‘yellow_tripdata_2021-01.csv.gz.1’ saved [25031880/25031880]

In [24]:
import gzip

file = "yellow_tripdata_2021-01.csv.gz"  # local file
with gzip.open(file, 'rt') as f:
    total_rows = sum(1 for _ in f) - 1
print(total_rows)

1369765

In [ ]:
import math
import pandas as pd
from tqdm.auto import tqdm

prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
file = prefix + 'yellow_tripdata_2021-01.csv.gz'

chunk_size = 100000
total_rows = 1369765   # from your row count
num_chunks = math.ceil(total_rows / chunk_size)  # = 14

df_iter = pd.read_csv(
    file,
    chunksize=chunk_size,
    dtype=dtype,
    parse_dates=parse_dates,
    low_memory=False
)

for df_chunk in tqdm(df_iter, total=num_chunks):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', method='multi')

  0%|          | 0/14 [00:00<?, ?it/s]

Bad pipe message: %s [b'"Not(A:Brand";v="8", "Chromium";v="144", "Microsoft Edge"']
Bad pipe message: %s [b'="144"\r\nsec-ch-ua-mobile: ?0\r\nsec-ch-ua-platform: "Windows']
Bad pipe message: %s [b'\nUpgrade-Insecure-Requests: 1\r\nUs', b'-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.']
Bad pipe message: %s [b'0.0 Safari/537.36 Edg/144.0.0.0\r\nAccept: text/h']
Bad pipe message: %s [b'l,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchang', b'v=b3;q=0.7\r\nSec-Fetch-Site: none\r\nSec-Fetch-Mode: navigate\r\nSec-Fetch-User: ?1\r\nSec-Fetch-Dest: docu', b'nt\r\nAccept-Encoding: gzip, deflate, br, zstd\r\nAccept-Language: en-US,en;q=0.9\r\nCookie: username-127-0-0-1-88', b'="2|1:0|10:1768830333|23:username-127-0-0-1-8888|204:ey']
Bad pipe message: %s [b'c2VybmFtZSI6ICJlZTRiZGMyZDY0ODE0YzQ0YWEwODY1ZWI1YWQxNjk3MyIsICJuYW1lIjogI', b'ub255bW91cyBQcmF4aWRpa2UiLCAiZGlzcGxheV9uYW1lIjogIkFub255bW91cyBQcmF4aWRpa2UiLCAiaW5pdGlhbHMiOiAiQVAiLCAiY']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Not(A:Brand";v="8", "Chromium";v="144", "Microsoft Edge";v="144"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "Windows"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) A', b'leWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']
Bad pipe message: %s [b'webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nSec-Fetch-Site: none\r\nSec-Fetch-Mo', b': navigate\r\nSec-Fetch-User: ?1\r\nSec-Fetch-Dest: document\r\nAccept-Encoding: gzip, deflate, br, zstd\r', b'ccept-Lan', b'age: en-US,en;q=0.9\r\nCookie: username-127-0-0-1-8888="2|1:0|10:1768830333|23:username-127-0-0-1-8888|2', b':eyJ1c2VybmFtZSI6ICJlZTRiZGMyZDY0ODE0YzQ0YWEwOD']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Not(A:Brand";v="8", "Chromium";v="144", "Microsoft Edge";v="144"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "Windows"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) A', b'leWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']
Bad pipe message: %s [b'webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nSec-Fetch-Site: cross-site\r\nSec-Fe', b'h-Mode: navigate\r\nSec-Fetch-User: ?1\r\nSec-Fetch-Dest: document\r\nAccept-Encoding: gzip, deflate, br, zstd\r\nAccept-La', b'uage: en-US,en;q=0.9\r\nCookie: username-127-0-0-1-8888="2|1:0|10:1768830333|23:username-127-0-0-1-8888|204:eyJ', b'2VybmFtZSI6ICJlZTRiZGMyZDY0ODE0YzQ0YWEwODY1ZWI1Y', b'xNjk3MyIsICJuYW1lIjogIkFub255bW91cyBQcmF4aWRpa2UiLCAiZGlzcGxheV9uYW1lIjogIkFub255bW91c', b'QcmF4aWRpa2UiLCAiaW5pdGlhbHMiOiAiQVAiLCAiY29sb3IiOiBudWxsfQ==|cbd885eabf0190187b94f47ce4b787f7b3901e5027bfe54fe5de77864f']

KeyboardInterrupt: